<div class=" content">
  <div class=" row">
    <div class=" col-md-12 ">
      <div class=" card">
        <div class=" card-header"><h4 class=" title">Registro de proveedor</h4>
          <p class=" category">
            Los datos marcados con (*) son de carácter obligatorio
          </p>
        </div>

        <div class=" card-body">
          <form>
            <div class=" row">
              <div class=" col-md-5 pr-md-4">
                <div class=" form-group">
                  <label> Cedula </label>
                  <input
                    class=" form-control"
                    placeholder="Digite cedula"
                    type="number"
                  />
                </div>
              </div>
              <div class=" col-md-5 pr-md-4">
                <div class=" form-group">
                  <label> Nombre </label>
                  <input
                    class=" form-control"
                    placeholder="Nombre"
                    type="text"
                  />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-5 pr-md-4">
                <div class=" form-group">
                  <label> Telefono </label>
                  <input
                    class=" form-control"
                    placeholder="Telefono"
                    type="tel"
                  />
                </div>
              </div>
              <div class=" col-md-5 pr-md-4">
                <div class=" form-group">
                  <label> Empresa </label>
                  <input
                    class=" form-control"
                    placeholder="Empresa"
                    type="tel"
                  />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-5 pr-md-4">
                <div class=" form-group">
                  <label> Correo </label>
                  <input
                    class=" form-control"
                    placeholder="Aqui va el correo"
                    type="email"
                  >
                </div>
              </div>
              <div class=" col-md-5 pr-md-4">
                <div class=" form-group">
                  <label> Direccion </label>
                  <input
                    class=" form-control"
                    placeholder="Ingrese la direccion"
                    type="text"
                  >
                </div>
              </div>
            </div>

          </form>
        </div>
        <div class=" card-footer">
          <button class=" btn btn-fill btn-danger" type="submit">Guardar</button>
        </div>
      </div>
    </div>

  </div>

  <div class=" row">
    <div class=" col-md-12 ">
      <div class=" card">
        <div class=" card-header"><h4 class=" title">Proveedores registrados</h4>
        </div>
        <div class=" card card-plain">
          <div class=" card-body">
            <div class=" table-responsive">
              <table class=" table tablesorter" id="">
                <thead class=" text-primary">
                <tr>
                  <th>Cedula</th>
                  <th>Nombre</th>
                  <th>Telefono</th>
                  <th>Empresa</th>
                  <th>Direccion</th>
                  <th>Correo</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>1065844608</td>
                  <td>Dakota Rice</td>
                  <td>3005673650</td>
                  <td>Oud-Turnhout</td>
                  <td>Oud-Turnhout</td>
                  <td>cjhair@gmail.com</td>
                </tr>
                <tr>
                  <td>1065844608</td>
                  <td>Dakota Rice</td>
                  <td>3005673650</td>
                  <td>Oud-Turnhout</td>
                  <td>Oud-Turnhout</td>
                  <td>cjhair@gmail.com</td>
                </tr>
                <tr>
                  <td>1065844608</td>
                  <td>Dakota Rice</td>
                  <td>3005673650</td>
                  <td>Oud-Turnhout</td>
                  <td>Oud-Turnhout</td>
                  <td>cjhair@gmail.com</td>
                </tr>
                <tr>
                  <td>1065844608</td>
                  <td>Dakota Rice</td>
                  <td>3005673650</td>
                  <td>Oud-Turnhout</td>
                  <td>Oud-Turnhout</td>
                  <td>cjhair@gmail.com</td>
                </tr>
                <tr>
                  <td>1065844608</td>
                  <td>Dakota Rice</td>
                  <td>3005673650</td>
                  <td>Oud-Turnhout</td>
                  <td>Oud-Turnhout</td>
                  <td>cjhair@gmail.com</td>
                </tr>
                <tr>
                  <td>1065844608</td>
                  <td>Dakota Rice</td>
                  <td>3005673650</td>
                  <td>Oud-Turnhout</td>
                  <td>Oud-Turnhout</td>
                  <td>cjhair@gmail.com</td>
                </tr>
                <tr>
                  <td>1065844608</td>
                  <td>Dakota Rice</td>
                  <td>3005673650</td>
                  <td>Oud-Turnhout</td>
                  <td>Oud-Turnhout</td>
                  <td>cjhair@gmail.com</td>
                </tr>
                <tr>
                  <td>1065844608</td>
                  <td>Dakota Rice</td>
                  <td>3005673650</td>
                  <td>Oud-Turnhout</td>
                  <td>Oud-Turnhout</td>
                  <td>cjhair@gmail.com</td>
                </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>


  </div>
</div>

